html, body{
  margin: 0;
  padding: 0;
  font-family: "museo-sans";
  font-weight: 300;
  color: #fff;
}
.swiper-container{
  height: 100vh;
  width: 100vw;
  text-align: center;
}
.swiper-slide img{
  width: 80%;
  height: auto;
  display: block;
  margin:0 auto;
}
.swiper-wrapper-content p{
  font-size: 1.75rem;
}
.swiper-wrapper-content h1{
  font-weight: 500;
  padding-top: 5%;
  font-size: 3.5rem
}
.swiper-wrapper-content{
  width: 75%;
  display: block;
  margin:0 auto;
}
.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
}
